<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">NeuralVyuha Incidents</h3>
                <div class="box-tools pull-right">
                    <span class="label label-primary" ng-if="$vm.loading">Loading...</span>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Group ID</th>
                            <th>Primary Rule</th>
                            <th>Alert Count</th>
                            <th>Max Severity</th>
                            <th>Last Seen</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="group in $vm.groups" ui-sref="app.nv-group-detail({id: group.group_id})">
                            <td>{{::group.group_id | limitTo:8}}...</td>
                            <td>{{::group.primary_rule_name || group._rule_metadata.name}}</td>
                            <td>{{::group.alert_count}}</td>
                            <td>
                                <span class="label" ng-class="{'label-danger': group.max_severity >= 3, 'label-warning': group.max_severity == 2, 'label-info': group.max_severity < 2}">
                                    {{::group.max_severity}}
                                </span>
                            </td>
                            <td>{{::group.last_seen | date:'short'}}</td>
                            <td>{{::group.status}}</td>
                        </tr>
                         <tr ng-if="$vm.groups.length === 0 && !$vm.loading">
                            <td colspan="6" class="text-center">No incidents found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li ng-class="{disabled: $vm.params.offset === 0}"><a href="#" ng-click="$vm.prevPage()">«</a></li>
                    <li><a href="#">{{$vm.params.offset / $vm.params.limit + 1}}</a></li>
                    <li ng-class="{disabled: $vm.params.offset + $vm.params.limit >= $vm.total}"><a href="#" ng-click="$vm.nextPage()">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
